@model List<JobPosting>
@{
    ViewData["Title"] = "Deine Inserate";
}

<a class="btn btn-success mb-3" asp-controller="JobPosting" asp-action="CreateEditForm">neues Inserat</a>
<hr class="mb-3 " />
<table id="AdminTabelle" class="table table-bordered table-striped table-hover">
    <thead>
        <tr>
            <th>Id</th>
            <th>Job Titel</th>
            <th>Ort</th>
            <th>Startdatum</th>
            <th>Aktionen</th>
        </tr>
    </thead>
    <tbody>
        @{
            foreach(JobPosting job in Model)
            {
                <tr>
                    <td>@job.Id</td>
                    <td>@job.JobTitle</td>
                    <td>@job.JobLocation</td>
                    <td>@job.StartDate.ToShortDateString()</td>
                    <td>
                        <a class="btn btn-warning" asp-route-id="@job.Id" asp-controller="JobPosting" asp-action="CreateEditForm">Edit</a>
                        <button class="btn btn-danger" onclick="deleteInserat(@job.Id)">Delete</button>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>

@section Scripts {
    <script>
        $(document).ready(function () {
            $('#AdminTabelle').DataTable();
        });

        function deleteInserat(id) {
            Swal.fire({
                title: "Inserat wirklich löschen?",
                text: "Dieser Vorgang kann nicht rückgängig gemacht werden.",
                icon: "warning",
                showCancelButton: true,
                confirmButtonText: "Ja, löschen",
                cancelButtonText: "Abbrechen"
            }).then((result) => {
                if (result.isConfirmed) {
                    window.location.href = '@Url.Action("Delete", "JobPosting")?id=' + id;
                }
            });
        }
    </script>
}